/* extra small device ==== */

@media (max-width: 575.98px) {
    .navbar .container{
        padding-top: 20px;
    }
    .banner_text {
        padding-top: 60px;
    }
    #banner .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 2rem;
    }
    #about .about-items {
        padding: 60px 0;
    }
    #about .container{
        margin-top: 90px;
    }
    #about .about-items .about_content .info .info1{
        padding-top: 20px;
    }
    #service{
        padding: 80px 0;
    }
    #service .card {
        margin-top: 20px;
    }
 }

/* extra small device ==== */


/* extra small device ==== */
/* extra small device ==== */

/* extra small device ==== */
/* extra small device ==== */
/* extra small device ==== */
/* extra small device ==== */
/* extra small device ==== */
/* extra small device ==== */




@media (min-width: 576px) and (max-width: 767.98px) { }